<h2 mat-dialog-title>Alterar Senha</h2>

<mat-dialog-content class="dialog-content">
    <form #passwordForm="ngForm">
        <!-- Campo Nova Senha -->
        <mat-form-field appearance="fill">
            <mat-label>Nova Senha</mat-label>
            <input matInput type="password" [(ngModel)]="newPassword" name="newPassword" #newPasswordField="ngModel"
                required (ngModelChange)="checkPasswords()">
            <mat-error *ngIf="newPasswordField.invalid && newPasswordField.touched">
                A senha é obrigatória.
            </mat-error>
        </mat-form-field>

        <!-- Campo Confirmar Senha -->
        <mat-form-field appearance="fill">
            <mat-label>Confirmar Senha</mat-label>
            <input matInput type="password" [(ngModel)]="confirmPassword" name="confirmPassword"
                #confirmPasswordField="ngModel" required (ngModelChange)="checkPasswords()">

            <!-- Erro de campo obrigatório -->
            <mat-error *ngIf="confirmPasswordField.invalid && confirmPasswordField.touched">
                A confirmação é obrigatória.
            </mat-error>

            <!-- Erro se as senhas não coincidirem -->
            <mat-error *ngIf="!passwordsMatch && confirmPasswordField.dirty">
                As senhas não coincidem.
            </mat-error>
        </mat-form-field>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button (click)="onCancel()">Cancelar</button>
    <button mat-button color="primary" (click)="onSubmit()" [disabled]="passwordForm.invalid || !passwordsMatch">
        Salvar
    </button>
</mat-dialog-actions>