<div class="user-container">
    <h2 class="user-title">Perfil do Usuário</h2>

    <form class="user-form" *ngIf="user">
        <div>
            <label for="email">E-mail:</label>
            <input type="email" id="email" [value]="user.email" readonly />
        </div>

        <div>
            <label for="role">Função:</label>
            <input type="text" id="role" [value]="user.role" readonly />
        </div>

        <div class="button-group">
            <button class="edit-btn" type="button">Editar Senha</button>

            <button *ngIf="user.role === 'Admin'" class="admin-btn" type="button">
                Gerenciar Usuários
            </button>
        </div>
    </form>
</div>