.dashboard-container {
    display: flex;
    flex-direction: column;
    height: 100vh; // Altura fixa baseada em um monitor de 20"
    background-color: var(--background-color) // Fundo gelo
  }
  
  .toolbar {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: var(--primary-color) !important;
    color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); // Sombra para destacar a navbar
    border-bottom: 2px solid var(--border-color);
  }
  
  .main-content {
    display: flex;
    flex-direction: row;
    margin-top: 64px; // Compensa a altura da toolbar
    height: calc(100vh - 64px); // Ajusta dinamicamente para a tela do usuário
  }

  .content {
    width: calc(100% - 250px);
    padding: 16px 16px 0 16px;
    height: 100%;
    //overflow-y: auto; // Para rolagem se necessário
    background-color: var(--background-color);
    border-left: 2px solid var(--border-color); // Borda para separar do menu lateral
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1); // Sombra no lado esquerdo para destacar
  }
  
  .sidenav {
    width: 250px;
    background-color: var(--secondary-color) !important;
    padding-top: 16px;
    height: 100%;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); // Sombra na lateral para destacar o menu
  }

  /* Força a cor branca nos links */
  .sidenav a {
    color: white !important;
    text-decoration: none;
  }

  /* Ajusta os itens da lista */
  .sidenav .mat-mdc-list-item-unscoped-content {
    color: white !important;
  }

  /* Se houver outros spans internos aplicando a cor errada */
  .sidenav span {
    color: white !important;
  }

  .logo {
    font-size: 1.2rem;
    font-weight: bold;
  }

  .user-icon {
    margin-left: auto;
    color: white;

    mat-icon {
      font-size: 26px;
    }
  }