<div class="dashboard-container">
    <mat-toolbar color="primary" class="toolbar">
        <span class="logo" routerLink="/dashboard" style="cursor: pointer;">GymGestor</span>

        <button mat-icon-button class="user-icon" (click)="navigateToUser()">
            <mat-icon>account_circle</mat-icon>
        </button>
    </mat-toolbar>

    <div class="main-content">
        <mat-sidenav class="sidenav" mode="side" opened>
            <mat-nav-list>
                <a mat-list-item routerLink="/home">Home</a>
                <a mat-list-item routerLink="/members">Membros</a>
                <a mat-list-item routerLink="/settings">Configurações</a>
            </mat-nav-list>
        </mat-sidenav>

        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>